# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Docker files
*.log
*.pid
*.tar
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Ignore local MongoDB volume if mapped
mongo_data/

# Ignore certs file
certs/
